.Box {
    background-color: var(--nula-ui-color-white);
    border-radius: 0.5rem;
    box-shadow: var(--nula-ui-box-shadow);
    padding: 1rem;
    position: relative;
    -webkit-box-shadow: var(--nula-ui-box-shadow);
}