.Box {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.05rem 1rem 0.5rem rgb(0 0 0 / 3%);
    padding: 1rem;
    position: relative;
    -webkit-box-shadow: 0 0.05rem 1rem 0.5rem rgb(0 0 0 / 3%);
}