.Button {
    background-color: #5b01c4;
    border: 1px solid #5b01c4;
    border-radius: 1.25rem;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 2.5rem;
    padding: 0 1rem;
}

.Button:hover {
    background-color: #4f01a9;
}

.ButtonFluid {
    width: 100%;
}

