:root {
    /* Primary Color */
    --nula-ui-color-primary: #5b01c4;
    --nula-ui-color-primary-dark: #4f01a9;

    /* Secondary Color */
    --nula-ui-color-secondary: #f5a023;
    --nula-ui-color-secondary-dark: #ff7a00;

    /* Standard Colors */
    --nula-ui-color-white: #fff;
    --nula-ui-color-black: #000;

    /* Other */
    --nula-ui-box-shadow: 0 0.05rem 0.75rem 0.5rem rgb(0 0 0 / 5%);
}